[Dd]ebug*/
[Rr]elease*/
Siatkostat/Siatkostat/Siatkostat.WindowsPhone/obj/*
Siatkostat/Siatkostat/Siatkostat.Windows/obj/*
.localhistory/*
Siatkostat.suo
Siatkostat.v12.suo
Siatkostat/Data/DataProviders/PlayersProvider.cs.orig
Siatkostat/MainMenu.xaml.cs.orig
Siatkostat.v12.suo

#Ignore files build by Visual Studio
*.user
*.aps
*.pch
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.bak
*.cache
*.ilk
*.log
[Bb]in
[Dd]ebug*/
*.sbr
obj/
[Rr]elease*/
_ReSharper*/
